* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white-color: #fff;
  --dark-color: #47206a;
  --bg-color-blue: #004aad;
  --bg-color-pink: #e385ec;
}
body {
  background: linear-gradient(
    45deg,
    var(--bg-color-blue),
    var(--bg-color-pink)
  );
  position: relative;
  font-family: sans-serif;
}

body.blured {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  outline: none;
}
.container {
  padding: 15px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  transition: 600ms;
}
body > .container {
  min-height: 100vh;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* sideBar start */
.sideBar {
  position: fixed;
  top: -101%;
  left: 0;
  width: 100%;
  padding-top: 15px;
  z-index: 10;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background: #ffffff3a;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: solid 3px white;
  transition: 600ms;
  transition-delay: 300ms;
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  box-shadow: 0 0 20px black;
}
body.blured .sideBar {
  top: 0;
  opacity: 1;
}
.sideBar h2 {
  color: var(--dark-color);
  text-transform: uppercase;
  letter-spacing: 50px;
  transition: 400ms 700ms;
  filter: blur(5px);
  white-space: nowrap;
}
body.blured .sideBar h2 {
  letter-spacing: 2px;
  filter: blur(0);
}
.sideBar .social {
  position: relative;
}
.sideBar .closeMenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.sideBar .social li a {
  color: var(--dark-color);
}
.sideBar .social li a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.758), 0 0 20px white;
}
.MetaLogo {
  position: fixed;
  z-index: 9;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 600ms;
  align-items: center;
}
.MetaLogo img {
  width: 90%;
  max-width: 600px;
  transition: 600ms;
  transition-delay: 300ms;
  opacity: 0;
  position: relative;
  left: -100%;
  top: 50px;
}
body.blured .MetaLogo {
  top: 50%;
}
body.blured .MetaLogo img {
  left: 0;
  opacity: 1;
}
/* sideBar end */
body.blured > .container {
  filter: blur(7px);
  pointer-events: none;
}
body > .container .openMenu {
  position: absolute;
  left: 15px;
  top: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
body > .container h1 {
  text-align: center;
  color: var(--white-color);
  margin: 30px 0 50px;
}
body > .container ul {
  width: 250px;
  margin: auto;
  padding: 5px;
  background: #a465db;
  border: solid 2px #9f9f9f9b;
  list-style: none;
  display: flex;
  text-align: center;
  margin-bottom: 40px;
}
body > .container ul li {
  color: var(--white-color);
  flex-basis: 50%;
  font-weight: bold;
  font-size: 20px;
  padding: 6px 0;
  transition: 500ms;
  cursor: pointer;
}
body > .container ul li.active {
  background: var(--dark-color);
}
body > .container .addTask {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}
body > .container .addTask i {
  font-size: 40px;
}
body > .container .content {
  position: relative;
  min-height: 100vh;
}
body > .container .content .todoList {
  position: relative;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 350ms;
}
body > .container .content .todoList .todoListContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
body > .container .content .todoList .item {
  padding: 10px 16px 25px;
  min-height: 100px;
  background: var(--dark-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 90%;
  position: relative;
}
body > .container .content .todoList .item .timeLeft {
  position: absolute;
  bottom: 4px;
  left: 16px;
  color: #cacacabe;
}
body > .container .content .todoList .item.done .timeLeft {
  color: crimson;
  text-decoration: line-through;
}
body > .container .content .todoList .item > p {
  font-size: 20px;
  word-break: break-all;
}
body > .container .content .todoList .item.done > p {
  text-decoration: line-through;
}
body > .container .content .todoList .item .actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
body > .container .content .todoList .item .actions .finished {
  padding: 8px 16px;
  color: white;
  background: #a465db;
  cursor: pointer;
  border: none;
  outline: none;
}
body > .container .content .todoList .item.done .actions .finished {
  background: crimson;
}
body > .container .content .todoList .item .actions .editToDo,
body > .container .content .todoList .item .actions .deleteItem {
  background: transparent;
  border: none;
  outline: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
  display: block;
}
body > .container .content .todoList .item.done .actions .editToDo {
  display: none;
}
@media (max-width: 767px) {
  body > .container .content .todoList .item > p {
    font-size: 15px;
  }
  body > .container .content .todoList .item .actions .editToDo,
  body > .container .content .todoList .item .actions .deleteItem {
    font-size: 20px;
  }
  body > .container .content .todoList .item .actions .finished {
    padding: 8px;
  }
}

/* analysis start */
body > .container .content .analysis {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  right: -150%;
  transition: 300ms;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}
body > .container .content .analysis canvas {
  width: 100%;
  max-width: 500px;
  min-height: 100px;
  max-height: 400px;
}
body > .container .content.active .analysis {
  right: 0;
  opacity: 1;
}
body > .container .content.active .todoList {
  left: -100%;
  opacity: 0;
}
/* analysis end */
/* add Task Window start */
.addTaskWindow {
  position: fixed;
  top: 0;
  left: -105%;
  width: 100%;
  height: 100%;
  background: #000000af;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: 400ms;
  opacity: 0;
}
.addTaskWindow.active {
  left: 0;
  opacity: 1;
}
.addTaskWindow .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.addTaskWindow .container .content {
  width: 60%;
  min-width: 290px;
  padding: 50px 12px 12px;
  background: linear-gradient(
    45deg,
    var(--bg-color-blue),
    var(--bg-color-pink)
  );
  position: relative;
  left: -200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: 400ms;
  transition-delay: 300ms;
}
.addTaskWindow.active .container .content {
  opacity: 1;
  left: 0;
}
.addTaskWindow .container .content .closeAddTaskWindow {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.addTaskWindow .container .content textarea {
  min-height: 80px;
  padding: 8px;
  border: none;
  outline: none;
  color: var(--dark-color);
  border-radius: 5px;
}
.addTaskWindow .container .content input {
  padding: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}
.addTaskWindow .container .content button[type="button"] {
  width: 60%;
  display: block;
  margin: auto;
  padding: 12px 10px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
/* add Task Window end */
/* footer start */
footer {
  background: var(--dark-color);
  position: relative;
  transition: 400ms;
  margin-top: 100px;
}
body.blured footer {
  filter: blur(7px);
  pointer-events: none;
}
footer::before {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  top: -49.1px;
  left: 0;
  background: linear-gradient(to top, var(--dark-color), transparent);
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
}
footer .container img {
  width: 130px;
}
footer .container h2 {
  color: white;
  font-size: 30px;
  margin-top: 10px;
  letter-spacing: 1.5px;
}
footer .container .subText {
  color: #f3f3f370;
  margin-top: 5px;
}
.social {
  list-style: none;
  display: flex;
  gap: 22px;
  margin: 30px 0;
}

.social li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: 300ms;
  position: relative;
  top: 0;
  display: block;
}
.social li a:hover {
  top: -8px;
  text-shadow: 0 0 5px white, 0 0 10px var(--bg-color-pink);
  transform: scale(1.3);
}
footer .container .copyRights {
  color: #f3f3f370;
}
footer .container .copyRights span {
  color: var(--bg-color-pink);
}
@media (max-width: 767px) {
  footer .container h2 {
    font-size: 23px;
  }
  footer .container .subText {
    font-size: 15px;
  }
}
/* footer end */
